@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-top {
  animation: fromTop 0.7s 0.2s backwards;
}

.left-bottom {
  animation: fromBottom 0.7s backwards;
  animation-delay: 0.7s;
}

.right-content {
  animation: fromLeft 0.7s backwards;
  animation-delay: 1.4s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(130px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .right-content {
    width: 80%;
  }
  .first-section {
    width: 80%;
  }
}
